@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
:root {
  --morph-bg: rgba(255, 255, 255, 0.2);
}

body {
  background-color: #f8f8f8;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #030712;
  }
}

@theme {
  --font-noto: "Noto Sans", sans-sarif;
}

@layer components {
  .primary-button {
    @apply dark:bg-blue-800 dark:hover:bg-blue-950 bg-blue-500 text-white  cursor-pointer transition-all duration-200 hover:bg-blue-800 rounded-xl w-30 h-8;
  }
  .warning-button {
    @apply dark:hover:bg-yellow-600 group-hover:opacity-100 opacity-0 hover:opacity-100 px-2 py-2 rounded-2xl font-bold hover:bg-yellow-200 transition-all duration-200 cursor-pointer;
  }
  .view-button {
    @apply transition-all duration-150 cursor-pointer shadow bg-green-500 px-4 py-1 rounded-xl;
  }

  .danger-button {
    @apply transition-all duration-150 bg-red-500  cursor-pointer shadow  px-2 py-1 rounded-xl;
  }

  .log-out {
    @apply px-3  rounded-full py-2 cursor-pointer hover:scale-105 transition-all duration-200 hover:bg-gray-600;
  }
}

.loader-spin {
  border: 15px dashed rgb(193, 193, 243);
  border-radius: 50%;
  animation: spin 2s infinite;
}

@keyframes spin {
  0%,
  100% {
    rotate: 0deg;
  }
  50% {
    rotate: 90deg;
  }
}
.glass-morph {
  border-radius: 0.7em;
  border: 3px solid var(--morph-bg);
  background: var(--morph-bg);

  backdrop-filter: blur(2px);
  box-shadow: inset 0 0 5px 1px var(--morph-bg);
}
.glass-morph button:hover {
  background: rgba(0, 0, 0, 0.2);
}
